.navbar-custom {
  background-color: lightgreen;
}

.nav-button {
  color: blue;
}

.product-container {
  width: 1200px;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}

.product-card {
  border-style: solid;
  border-width: 1px;
  display: block;
  box-shadow: 3px 3px 10px grey;
  width: 250px;
  height: 350px;
  text-align: center;
  margin: 25px;
  float: left;
}

.product-card-image-div {
  width: 150px;
  height: 150px;
  margin: auto;
}
.product-card-image {
  max-width: 150px;
  max-height: 150px;
  margin-top: 20px;
}
.card-title-div {
  margin: auto;
  width: 225px;
  height: 60px;
}
.card-title {
  margin-top: 20px;
  word-wrap: break-word;
  width: 225px;
  font-weight: bold;
  font-size: 20px;
  font-family: "museo-sans", "Helvetica Neue", Helvetica;
}

.card-quantity {
  font-family: "museo-sans", "Helvetica Neue", Helvetica;
}

.card-price {
  font-family: garamond;
  font-weight: bold;
  font-size: 24px;
  float: left;
  margin-left: 20px;
  margin-top: 1px;
  font-family: "museo-sans", "Helvetica Neue", Helvetica;
}

.view-item-button {
  float: right;
  margin-right: 25px;
  margin-top: 1px;
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  background-color: #3d94f6;
  border-radius: 6px;
  border: 1px solid #337fed;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "museo-sans", "Helvetica Neue", Helvetica;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #1570cd;
}
.view-item-button:hover {
  background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
  background-color: #1e62d0;
}
.view-item-button:active {
  position: relative;
  top: 1px;
}

.left-div {
  float: left;
  margin-left: 75px;
  margin-top: 100px;
  box-shadow: 3px 3px 10px grey;
}

.image-show {
  max-width: 400px;
  max-height: 400px;
}

.right-div {
  font-family: "museo-sans", "Helvetica Neue", Helvetica;
  width: 750px;
  margin-right: 50px;
  margin-top: 50px;
  float: right;
}

.card-quantity-div {
  margin-top: 30px;
}

.price {
  font-size: 5px;
  float: left;
}

.add-to-cart {
  float: right;
  margin-right: 300px;
  margin-top: 10px;
}

.add-to-cart-button {
  margin-left: 10px;
  float: right;
  margin-right: 25px;
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  background-color: #3d94f6;
  border-radius: 6px;
  border: 1px solid #337fed;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "museo-sans", "Helvetica Neue", Helvetica;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #1570cd;
}

.add-to-cart-button:hover {
  background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
  background-color: #1e62d0;
}

.add-to-cart-button:active {
  position: relative;
  top: 1px;
}

.quantity-available {
  margin-top: 5px;
  float: left;
}

.bottom-div {
  margin-top: 100px;
}

.specs {
  float: right;
  margin-right: 20px;
}

.description {
  float: left;
  width: 400px;
}

.cart {
  /* border-style: solid;
  border-width: 10px; */
}

.visible {
  margin-top: 20px;
  margin-left: 20px;
  width: 1300px;
  /* border-style: solid;
  border-width: 2px; */
  display: inline-block;
}

.deleted {
  display: none;
}

.cart-image {
  float: left;
  max-width: 200px;
  max-height: 200px;
  margin-left: 20px;
}

.cart-div-title {
  font-family: "museo-sans", "Helvetica Neue", Helvetica;
  margin-top: 20px;
  margin-left: 25px;
}

.cart-title {
  float: left;
  font-family: "museo-sans", "Helvetica Neue", Helvetica;
  margin-left: 40px;
  margin-top: 50px;
}

.cart-quantity {
  position: absolute;
  margin-left: 900px;
  font-family: "museo-sans", "Helvetica Neue", Helvetica;
  margin-top: 50px;
}

.cart-price {
  margin-right: 25px;
  float: right;
  font-family: "museo-sans", "Helvetica Neue", Helvetica;
  margin-left: 15px;
  margin-top: 50px;
}

.cart-delete-div {
  position: absolute;
  margin-left: 1050px;
}

.cart-delete {
  margin-top: 50px;
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  background-color: #3d94f6;
  border-radius: 6px;
  border: 1px solid #337fed;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "museo-sans", "Helvetica Neue", Helvetica;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #1570cd;
}
.cart-delete:hover {
  background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
  background-color: #1e62d0;
}
.cart-delete:active {
  position: relative;
  top: 1px;
}

.cart-total {
  font-family: "museo-sans", "Helvetica Neue", Helvetica;
  float: right;
  position: absolute;
  margin-left: 1175px;
  margin-top: 20px;
}

.paypal-buttons {
  float: right;
  margin-right: 60px;
  max-height: 200px;
  margin-top: 25px;
}


.filter {
  margin-top: 50px;
}
.filter-span {
  float: left;
  clear: left;
}

.filter-container {
  margin-top: 50px;
  margin-left: 10px;
  float: left;
}

.checkbox {
  cursor: pointer;
}

.input {
  display: block;
}

.clear-filter-button {
  float: right;
  margin-right: 25px;
  margin-top: 1px;
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  background-color: #3d94f6;
  border-radius: 6px;
  border: 1px solid #337fed;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "museo-sans", "Helvetica Neue", Helvetica;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #1570cd;
}
.clear-filter-button:hover {
  background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
  background-color: #1e62d0;
}
.clear-filter-button:active {
  position: relative;
  top: 1px;
}

.selling-image {
  float: left;
  max-width: 200px;
  max-height: 200px;
  margin-left: 20px;
}


.selling-title {
  float: left;
  font-family: "museo-sans", "Helvetica Neue", Helvetica;
  margin-left: 40px;
  margin-top: 50px;
}

.selling-quantity {
  position: absolute;
  margin-left: 900px;
  font-family: "museo-sans", "Helvetica Neue", Helvetica;
  margin-top: 50px;
}

.selling-price {
  margin-right: 25px;
  float: right;
  font-family: "museo-sans", "Helvetica Neue", Helvetica;
  margin-left: 15px;
  margin-top: 50px;
}

.selling-delete-div {
  position: absolute;
  margin-left: 1050px;
}

.selling-delete {
  margin-top: 50px;
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  background-color: #3d94f6;
  border-radius: 6px;
  border: 1px solid #337fed;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "museo-sans", "Helvetica Neue", Helvetica;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #1570cd;
}
.selling-delete:hover {
  background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
  background-color: #1e62d0;
}
.selling-delete:active {
  position: relative;
  top: 1px;
}